.a_400 {
	font-family: 'Noto Sans KR', sans-serif; 
	font-weight:400;
}

.a_500 {
	font-family: 'Noto Sans KR', sans-serif; 
	font-weight:500;
}

.p_400{
	font-family: 'Noto Sans KR', sans-serif; 
	font-weight:400;
}

.p_500{
	font-family: 'Noto Sans KR', sans-serif; 
	font-weight:500;
}


